html, body, #app {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  h1, h2 {
  cursor: default;
}
  body {
    font-family: 'Arial', sans-serif;
    background-color: #fff;
    transition: background-color 0.3s, color 0.3s;
  }
  
  body.dark-mode {
    background-color: #121212;
    color: #fff;
  }
  