.signup-container {
  display: flex;
  height: 100vh;
  position: relative;
}

.signup-container.dark {
  background-color: #121212;
  color: #fff;
}

.language-switcher {
  position: absolute;
  right: 30px; /* Adjust as needed */
  top: 30px; /* Adjust as needed */
  font-size: 18px;
}


.language-switcher button {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  font-size: 18px;
}

.side-panel {
  width: 50%;
  height: 100%;
  background: linear-gradient(102.16deg, #303030 -78.58%, rgba(48, 48, 48, 0) 278.09%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.side-panel img {
  width:  50%;
  height: 25%;
  margin-bottom: 20px;
}

.form-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

.logo-img {
  width: 350px; /* Adjust size as needed */
  height: auto;
  max-width: 100%;
  display: block;
  margin: 0 auto 10px;
}
form {
  width: 60%;
}
/* Default (light mode) */
.back-home {
  color: black;
  text-decoration: none;
  font-weight: bold;
  display: inline-flex;
  align-items: center;
}

/* Dark mode */
.signup-container.dark .back-home,.signup-container.dark .have-account, .signup-container.dark .login-link{
color: white;
}

/* Hover effect (optional but recommended) */
.back-home:hover {
  text-decoration: underline;
}

/* Style for the back icon (optional enhancements) */
.back-icon {
  width: 20px;
  height: 20px;
  margin-right: 6px;
}

h2.signup-title {
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
  font-size: 26px;
  font-weight: 600;
}

p.have-account {
  margin-bottom: 20px;
  text-align: left;
  width: 100%;
  font-size: 16px;
  color: #6C6C6C;
}

.login-link {
  color: black;
  text-decoration:NONE;
  text-decoration-color: black;
  font-weight: 500;
}

.form-group {
  margin-bottom: 15px;
  
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  text-align: center;
  font-size: 18px;
  font-weight: 500;


  font-family:Arial, Helvetica, sans-serif;
color: #2c3e50;
}

.styled-input {
  width: 100%;

   border-radius: 4px;
    padding: 8px;
    border: 1px solid #ccc;
}

.styled-input:focus {
  outline: none;
  border-color: #275559;
}

button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #275559;
  border: 1px solid #275559;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 15px;
  font-size: 18px;
}

.back-home {
  display: block;
  text-align: center;
  margin-top: 10px;
  color: #6C6C6C;
  text-decoration: none;
}

.back-home .back-icon {
  margin-right: 5px;
  vertical-align: middle;
  position: relative;
  top: 0px; /* Move the icon down by 3px */
}
